/* Frame8.css */

.frame8 {
    width: 690px;
    height: 390px;
    background-color: #fffefe;
    border-radius: 12px;
    padding: 11px 15px;
    margin: 20px;
    position: absolute;
    top: 605px;
    flex-direction: column;
}

.Summary {
    font-weight: bold;
    margin-top: 15px;
    margin-right: 10px;
}

.Sales {
    display: flex; /* Utilisez flex pour aligner les éléments horizontalement */
    color: #ec1d73;
    font-size: 15px;
    margin-left: 10px;
}

.chevron8 {
    margin-left: 5px;
    vertical-align: middle; /* Alignez verticalement avec le texte Sales */
}

.L7D {
    margin-top: -30px;
    font-size: 15px;
    margin-right: -30px;
    margin-left: 560px;
}

.small-frame8 {
    max-width: 700px;
    width: 12%;
    background-color: #f1d7e3;
    border-radius: 7px;
    display: block;
    margin-left: 100px;
    margin-top: -25px;
}
.chevron88 {
    margin-top: 10px;
}
