

.frame1 {
    width: 321px;
    height: 120px;
    flex: 1;
    background-color: #fff;
    border-radius: 12px;
    padding: 11px 15px;
    margin: 10px; 
    position:absolute;
    top: 110px;
    left: 7px; 
  
  }

.frame1-header {
    font-size: 14px;
    color: #c9c7c7;
    text-align: right; 
  }
  

  .chevron {
    margin-left: 5px; 
  }
  .F1LHG {
    margin-top: -40px; 
    width: 40px;
    height: 40px;
  }

  
  
  .frame1-body {
    display: flex;
    align-items: baseline; 
    margin-top: 15px;
  }

  .frame1-BG {
    margin-right: 10px;
  }
  
  .sales-text {
    display: block;
  
  }
  .amount-and-percentage {
    display: flex;
    align-items: baseline;
  }
  
  .amount-text {
    display: block;
    margin-top: 5px;
    font-size: 20px;
  }
  
  .percentage-text {
    display: block;
    font-size: 12px;
    color: green;
    margin-left: 5px; 
  }


 
  .volume-text {
    font-size: 14px; 
    color: rgb(141, 141, 143); 
    margin-top:  10px;
    margin-left: 100px;
  
  }
  .volume-zero {
    font-size: 20px;
    color: rgb(6, 6, 6);
    margin-top: 5px;
  }
