.frame2 {
  flex: 1;
  width: 321px;
  height: 120px;
  background-color: #fff;
  border-radius: 12px;
  padding: 11px 15px;
  margin: 10px;
  position: absolute;
  top: 110px;
  left: 378px;
}

  

  .frame2-header {
    font-size: 14px;
    color: #c9c7c7;
    text-align: right; /* Aligner le texte à droite */
  }
  
.chevron {
    margin-left: 5px; /* Ajouter un espacement entre "This Week" et le chevron */
  }
  .F2HG {
    margin-top: -50px; /* Ajustez la valeur en conséquence */
    width: 40px;
    height: 40px;
  }



  .frame2-body {
    display: flex;
    align-items: baseline; /* Alignez les éléments de manière à ce que leur ligne de base soit alignée */
    margin-top: 15px;
}
  .frame2-BG {
    margin-right: 10px; /* Ajoutez un espacement entre "Sales" et "Volume" */
  }
  .customers-text {
    display: block; /* Assurez-vous que le texte apparaît sur une nouvelle ligne */
  
  }
  .F2BG {
    display: flex;
    align-items: baseline; /* Aligner les éléments de manière à ce que leur ligne de base soit alignée */
  }
  
  .zero-text {
    display: block;
    margin-top: 5px;
    font-size: 20px;
  }
  
  .percentage-text {
    display: block;
    font-size: 12px;
    color: green;
    margin-left: 5px; /* Ajustez la valeur selon vos besoins */
  }
  .active-text {
    font-size: 14px; /* Ajustez la taille de la police selon vos besoins */
    color: rgb(141, 141, 143); /* Couleur du texte pour "Volume" */
    margin-left: 170px;
    margin-top:  10px;
    margin-left: 100px;
  
  }
  .active-zero {
    font-size: 20px;
    color: rgb(6, 6, 6);
    margin-top: 5px;
  }
