.frame2 {
  flex: 1;
  width: 321px;
  height: 120px;
  background-color: #fff;
  border-radius: 12px;
  padding: 11px 15px;
  margin: 10px;
  position: absolute;
  top: 110px;
  left: 378px;
}

.frame2-header {
  font-size: 14px;
  color: #c9c7c7;
  text-align: right;
}

.chevron {
  margin-left: 5px;
}

.F2HG {
  margin-top: -50px;
  width: 40px;
  height: 40px;
}

.frame2-body {
  display: flex;
  align-items: baseline;
  margin-top: 15px;
}

.frame2-BG {
  margin-right: 10px;
}

.customers-text {
  display: block;
}

.F2BG {
  display: flex;
  align-items: baseline;
}

.zero-text {
  display: block;
  margin-top: 5px;
  font-size: 20px;
}

.percentage-text {
  display: block;
  font-size: 12px;
  color: green;
  margin-left: 5px;
}

.active-text {
  font-size: 14px;
  color: rgb(141, 141, 143);
  margin-left: 170px;
  margin-top: 10px;
  margin-left: 100px;
}

.active-zero {
  font-size: 20px;
  color: rgb(6, 6, 6);
  margin-top: 5px;
}
