.frame6 {
    width: 321px;
    height: 120px;
    background-color: #ffffff;
    
    border-radius: 12px;
    padding: 11px 15px;
    margin: 10px;
    position: absolute;
    top: 450px;
    left: 378px;


}

  .frame6-header {
    font-size: 14px;
    color: #c9c7c7;
    text-align: right; 
  }
  
.chevron6 {
    margin-left: 5px;
  }
  .F5HG {
    margin-top: -50px; 
    width: 40px;
    height: 40px;
  }
  .frame6-body {
    display: flex;
    align-items: baseline; 
    margin-top: 15px;
    margin-right: 50px;
}
  .frame6-BG {
    margin-right: 10px; 
  }
  .abandonedcart-text {
    font-size: 10px;
    display: block; 
    color: rgb(240, 16, 16);

  }
  .F6BG {

    display: flex;
    align-items: baseline; 
  }
  
  .zero6-text {
    display: block;
    margin-top: 5px;
    font-size: 20px;
    color: rgb(20, 20, 20);

  }
  

  .costomers6-zero {
    font-size: 20px;
    color: rgb(15, 15, 15);
    margin-top: 5px;
  }
 .costomers6-text{
    color: rgb(12, 12, 12);
    font-size: 14px; 
    margin-right: 10px;
    margin-top:  10px;
    margin-left: 100px;
 }
 .F6HG   {
  margin-top: 4px;
  margin-left: 2px;
 }