.frame5 {
  width: 321px;
  height: 140px;
  background-color: #D23565;
  border-radius: 12px;
  padding: 11px 15px;
  margin: 10px;
  position: absolute;
  top: 272px;
  left: 378px;
}

.frame5-header {
  font-size: 14px;
  color: #c9c7c7;
}

.chevron {
  margin-left: 5px;
}

.frame5-body {
  display: flex;
  align-items: baseline;
  margin-top: 15px;
}

.frame5-BG {
  margin-right: 10px;
}

.allproducts-text {
  display: block;
  color: rgb(255, 255, 255);
}

.F5BG {
  display: flex;
  align-items: baseline;
}

.zero5-text {
  display: block;
  margin-top: 5px;
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.percentage5-text {
  display: block;
  font-size: 12px;
  color: rgb(255, 255, 255);
  margin-left: 5px;
}

.active5-zero {
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin-top: 5px;
}

.active5-text {
  color: rgb(255, 255, 255);
  font-size: 14px;
  margin-left: 100px;
  margin-top: 10px;
}

.F5HG {
  width: 40px;
  height: 40px;
  color: #ffffff;
  margin-top: auto;
}

.pink-border5 {
  background-color: rgb(224, 46, 123);
  padding: 1px;
  border-radius: 8px;
  display: inline-block;
  margin-top: -20px;
  width: 30px;
  height: 30px;
}
