body {
  margin: 0;
  padding: 0;
  background-color: rgba(218, 215, 215, 0.785);
}

.app-header {
  background-color: #fff;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;  
  width: 100%;
  top: 0;
}

.left-section {
  margin-top: -10px;
}

.Dashboard {
  font-size: 20px;
  color: #090909;
}

.homelogo {
  width: 24px;
  height: 24px;
  margin-left: 11px;
  margin-top: 10px;
  color: #da2976;
}

.page {
  margin-right: 40px;
}

.page span {
  margin: 0 5px;
  color: #848080;
  margin-right: 10px;
}

.right-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 40px;
  margin-top: 10px;
}

.logogauche {
  width: 36px;
  height: 42px;
  margin-left: 5px;
  transform: rotate(90deg);
  margin-top: 4px;
}

.notification {
  width: 10px;
  height: 30px;
  color: #D23565;
  margin-left: 2px;
}

.LLC {
  font-size: 13px;
  color: #8c8b8b;
  margin-top: 1px;
  margin-left: 64px;
}

.Anima {
  font-weight: bold;
  color: #0b0b0b;
  margin-left: 30px;
}

.pink-borderNH {
  background-color: rgb(255, 237, 240);
  padding: 1px;
  border-radius: 95px;
  display: inline-block;
  margin-left: 10px;
  margin-top: -4px;
}

.pink-borderKeyboar {
  background-color: #E0146163;
  padding: 1px;
  border-radius: 9px;
  display: inline-block;
  margin-top: -1px;
  width: 32px;
  height: 34px;
  margin-left: 20px;
}
